			<!--Slider Section Start-->
			<div class="tj-slider">
				<div class="tj-cab-slider" id="cab-slider">
					<!--Slider Item Content Start-->
					<div class="slide-item">
						<img src="images/slider_img1.jpg" alt=""/>
						<div class="slide-caption">
							<div class="container">
								<div class="slide-inner">
									<strong>So, where are you going to travel today !!!</strong>
									<h2>Travel east to west & enjoy several famous <br/> road trip destinations</h2>
									<div class="slide-btns">
										<a href="https://themesjungle.net/html/prime-cab/aboutus.html" class="btn-style-1">About us <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
										<a href="https://themesjungle.net/html/prime-cab/booking-form.html" class="btn-style-2">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Slider Item Content End-->
					<!--Slider Item Content Start-->
					<div class="slide-item">
						<img src="images/slider_img4.jpg" alt=""/>
						<div class="slide-caption">
							<div class="container">
								<div class="slide-inner">
									<strong>Keeping You And Your Family Safe!</strong>
									<h2>The Affordable Way To Keep You <br> Connected To Life</h2>
									<div class="slide-btns">
										<a href="https://themesjungle.net/html/prime-cab/aboutus.html" class="btn-style-1">About us <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
										<a href="https://themesjungle.net/html/prime-cab/booking-form.html" class="btn-style-2">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Slider Item Content End-->
					<!--Slider Item Content Start-->
					<div class="slide-item">
						<img src="images/slider_img3.jpg" alt=""/>
						<div class="slide-caption">
							<div class="container">
								<div class="slide-inner">
									<strong>Safety Is Our First Priority!!</strong>
									<h2>Reducing distances, increasing convenience</h2>
									<div class="slide-btns">
										<a href="https://themesjungle.net/html/prime-cab/aboutus.html" class="btn-style-1">About us <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
										<a href="https://themesjungle.net/html/prime-cab/booking-form.html" class="btn-style-2">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Slider Item Content End-->
				</div>
			</div>
			<!--Slider Section End-->
			
			<!--Services Section Start-->
			<section class="tj-services">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<div class="tj-heading-style">
								<h3>Awesome Services</h3>
							</div>
							<!--Service Outer Start-->
							<div class="tj-service-outer">
								<!--Service Item Start-->
								<div class="service-item">
									<img src="images/service_icon1.png" alt=""/>
									<div class="service-info-box">
										<h4>Restaurants</h4>
										<p>A more recently with desktop softy too aldus page maker and more recently desk publishing software.</p>
									</div>
								</div>
								<!--Service Item End-->
								<!--Service Item Start-->
								<div class="service-item">
									<img src="images/service_icon2.png" alt=""/>
									<div class="service-info-box">
										<h4>Airports</h4>
										<p>A more recently with desktop softy too aldus page maker and more recently desk publishing software.</p>
									</div>
								</div>
								<!--Service Item End-->
								<!--Service Item Start-->
								<div class="service-item">
									<img src="images/service_icon3.png" alt=""/>
									<div class="service-info-box">
										<h4>Beaches</h4>
										<p>A more recently with desktop softy too aldus page maker and more recently desk publishing software.</p>
									</div>
								</div>
								<!--Service Item End-->
								<!--Service Item Start-->
								<div class="service-item">
									<img src="images/service_icon4.png" alt=""/>
									<div class="service-info-box">
										<h4>Hospitals</h4>
										<p>A more recently with desktop softy too aldus page maker and more recently desk publishing software.</p>
									</div>
								</div>
								<!--Service Item End-->
							</div>
							<!--Service Outer End-->
						</div>
						<!--Service Ad Box Section Start-->
						<div class="col-md-4 col-sm-4">
							<div class="service-ad-box">
								<div class="fleet-box">
									<img src="images/fleet-banner.jpg" alt=""/>
									<div class="ad-info">
										<h4>Get Benifits worth</h4>
										<strong class="price">$250</strong>
										<h5>on booking Prime Cab</h5>
										<div class="book_fleet">
											<a href="https://themesjungle.net/html/prime-cab/contact.html">Grab Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--Service Ad Box Section End-->
					</div>
				</div>
			</section>
			<!--Services Section End-->
			
			<!--Promo Offer Section Start-->
			<section class="tj-promo-offer">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="promo-box">
								<h3>Explore more for less & Use coupon code: <span>Prime34</span> to get 15% offer</h3>
								<a href="https://themesjungle.net/html/prime-cab/register.html">Get More Coupon <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--Promo Offer Section End-->
			
			<!--Cab Collection Section Start-->
			<section class="tj-cab-collection">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="tj-heading-style">
								<h3>Cab Collections</h3>
								<p>Lorem Ipsum passages, and more recently with desktop publishing software like aldus pageMaker including versions.</p>
							</div>
						</div>
						<div class="cab-col-outer">
							<!--Fleet Grid Box Start-->
							<div class="col-md-6 col-sm-6">
								<div class="fleet-grid-box">
									<!--Fleet Grid Thumb Start-->
									<figure class="fleet-thumb">
										<img src="images/car-fleet1.jpg" alt="">
										<figcaption class="fleet-caption">
											<div class="price-box">
												<strong>$190 <span>/ day</span></strong>
											</div>
											<span class="rated">Top Rated</span>
										</figcaption>
									</figure>
									<!--Fleet Grid Thumb End-->
									<!--Fleet Grid Text Start-->
									<div class="fleet-info-box">
										<div class="fleet-info">
											<h3>2017 Chevrolet Pepe</h3>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											
											<ul class="fleet-meta">
												<li><i class="fas fa-taxi"></i>Luxery</li>
												<li><i class="fas fa-user-circle"></i>2 Passengers</li>
												<li><i class="fas fa-tachometer-alt"></i>5.6/100 MPG</li>
											</ul>
										</div>
										<a href="https://themesjungle.net/html/prime-cab/fleet-grid.html" class="tj-btn2">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
									</div>
									<!--Fleet Grid Text End-->
								</div>
							</div>
							<!--Fleet Grid Box End-->
							
							<!--Fleet Grid Box Start-->
							<div class="col-md-6 col-sm-6">
								<div class="fleet-grid-box">
									<!--Fleet Grid Thumb Start-->
									<figure class="fleet-thumb">
										<img src="images/car-fleet2.jpg" alt="">
										<figcaption class="fleet-caption">
											<div class="price-box">
												<strong>$240 <span>/ day</span></strong>
											</div>
											<span class="rated">Top Rated</span>
										</figcaption>
									</figure>
									<!--Fleet Grid Thumb End-->
									<!--Fleet Grid Text Start-->
									<div class="fleet-info-box">
										<div class="fleet-info">
											<h3>Nissan Vela 201</h3>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											
											<ul class="fleet-meta">
												<li><i class="fas fa-taxi"></i>Luxery</li>
												<li><i class="fas fa-user-circle"></i>5 Passengers</li>
												<li><i class="fas fa-tachometer-alt"></i>5.6/100 MPG</li>
											</ul>
										</div>
										<a href="https://themesjungle.net/html/prime-cab/fleet-grid.html" class="tj-btn2">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
									</div>
									<!--Fleet Grid Text End-->
								</div>
							</div>
							<!--Fleet Grid Box End-->
							
							<!--Fleet Grid Box Start-->
							<div class="col-md-6 col-sm-6">
								<div class="fleet-grid-box">
									<!--Fleet Grid Thumb Start-->
									<figure class="fleet-thumb">
										<img src="images/car-fleet3.jpg" alt="">
										<figcaption class="fleet-caption">
											<div class="price-box">
												<strong>$185 <span>/ day</span></strong>
											</div>
											<span class="rated">Top Rated</span>
										</figcaption>
									</figure>
									<!--Fleet Grid Thumb End-->
									<!--Fleet Grid Text Start-->
									<div class="fleet-info-box">
										<div class="fleet-info">
											<h3>Mitshubishi Lander</h3>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											
											<ul class="fleet-meta">
												<li><i class="fas fa-taxi"></i>Luxery</li>
												<li><i class="fas fa-user-circle"></i>6 Passengers</li>
												<li><i class="fas fa-tachometer-alt"></i>5.6/100 MPG</li>
											</ul>
										</div>
										<a href="https://themesjungle.net/html/prime-cab/fleet-grid.html" class="tj-btn2">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
									</div>
									<!--Fleet Grid Text End-->
								</div>
							</div>
							<!--Fleet Grid Box End-->
							
							<!--Fleet Grid Box Start-->
							<div class="col-md-6 col-sm-6">
								<div class="fleet-grid-box">
									<!--Fleet Grid Thumb Start-->
									<figure class="fleet-thumb">
										<img src="images/car-fleet7.jpg" alt="">
										<figcaption class="fleet-caption">
											<div class="price-box">
												<strong>$210 <span>/ day</span></strong>
											</div>
											<span class="rated">Top Rated</span>
										</figcaption>
									</figure>
									<!--Fleet Grid Thumb End-->
									<!--Fleet Grid Text Start-->
									<div class="fleet-info-box">
										<div class="fleet-info">
											<h3>Renault Sedan</h3>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											<span class="fas fa-star"></span>
											
											<ul class="fleet-meta">
												<li><i class="fas fa-taxi"></i>Luxery</li>
												<li><i class="fas fa-user-circle"></i>5 Passengers</li>
												<li><i class="fas fa-tachometer-alt"></i>5.6/100 MPG</li>
											</ul>
										</div>
										<a href="https://themesjungle.net/html/prime-cab/fleet-grid.html" class="tj-btn2">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
									</div>
									<!--Fleet Grid Text End-->
								</div>
							</div>
							<!--Fleet Grid Box End-->
							
						</div>
					</div>
				</div>
			</section>
			<!--Cab Collection Section End-->
			
			<!--Cabs Trip Section Start-->
			<section class="tj-cabs-trip">
				<div class="container">
					<div class="row">
						<!--Opening Hours Section Start-->
						<div class="col-md-4 col-sm-5">
							<div class="open_hours">
								<h4>Opening Hours</h4>
								<ul>
									<li>Monday: 7.30am to 11.30pm</li>
									<li>Tuesday: 7.30am to 11.30pm</li>
									<li>Wednesday: 7.30am to 11.30pm</li>
									<li>Thursday: 7.30am to 11.30pm</li>
									<li>Friday: 7.30am to 11.30pm</li>
									<li>Sat-Sun: 8.30am to 10.30pm</li>
								</ul>
							</div>
						</div>
						<!--Opening Hours Section End-->
						<!--Cabs Tabs Section Start-->
						<div class="col-md-8 col-sm-7">
							<div class="trip-cabs-outer">
								<!--Cabs Trip Nav Start-->
								<div class="trip-frm-tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#one-way-trip" data-toggle="tab">One Way Trip</a></li>
										<li><a href="#two-way-trip" data-toggle="tab">Two Way Trip</a></li>
									</ul>
								</div>
								<!--Cabs Trip Nav End-->
								<!--Cabs Tab Content Start-->
								<div class="tab-content">
									<!--Cabs 1 Way Section Start-->
									<div class="tab-pane active" id="one-way-trip">
										<!--Cabs 1 Way Form Section Start-->
										<form class="trip_form row" method="POST">
											<div class="col-md-6 col-sm-6">
												<div class="field-outer">
													<span class="fas fa-search"></span>
													<input type="text" name="pick_loc" placeholder="Pickup Locations">
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="field-outer">
													<span class="fas fa-search"></span>
													<input type="text" name="drop_loc" placeholder="Drop Locations">
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="field-outer">
													<span class="fas fa-calendar-alt"></span>
													<input type="text" name="pick_date" placeholder="Select your Date">
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="field-outer">
													<span class="far fa-clock"></span>
													<input type="text" name="drop_date" placeholder="Select Timings">
												</div>
											</div>
											<div class="col-md-9 col-sm-9">
												<div class="field-outer">
													<input type="checkbox" name="coupon_code" id="coupon_code">
													<label for="coupon_code">Have Coupon Code?</label>
												</div>
											</div>
											<button type="submit" class="search-btn">Search Cabs <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
										</form>
										<!--Cabs 1 Way Form Section End-->
									</div>
									<!--Cabs 1 Way Section End-->
								</div>	
								<!--Cabs Tab Content End-->
							</div>		
						</div>
						<!--Cabs Tabs Section End-->
					</div>
				</div>
			</section>
			<!--Cabs Trip Section End-->
			
			<!--Facts Section Content Start-->
			<section class="tj-facts">
				<div class="container">
					<div class="row">
						<!--Facts Info Content Start-->
						<div class="col-md-4 col-sm-4">
							<div class="tj-heading-style">
								<h3>Amazing Facts</h3>
								<p>Lorem Ipsum passages, and more recently with desktop publishing software like aldus pageMaker.</p>
							</div>
						</div>
						<!--Facts Info Content End-->
						<!--Client Facts Content Start-->
						<div class="col-md-8 col-sm-8">
							<div class="facts-outer">
								<div class="row">
									<!--Fact Box Content Start-->
									<div class="col-md-4 col-sm-4">
										<div class="fact-box">
											<strong class="fact-counter">100</strong>
											<i class="fa fa-percent"></i>
											<span>Happy Customer</span>
										</div>
									</div>
									<!--Fact Box Content End-->
									<!--Fact Box Content Start-->
									<div class="col-md-4 col-sm-4">
										<div class="fact-box">
											<strong class="fact-counter">200</strong>
											<i class="fas fa-plus"></i>
											<span>Luxury Cars</span>
										</div>
									</div>
									<!--Fact Box Content End-->
									<!--Fact Box Content Start-->
									<div class="col-md-4 col-sm-4">
										<div class="fact-box">
											<strong class="fact-counter">12,000</strong>
											<i class="fas fa-arrow-up"></i>
											<span>Kilometers Driven</span>
										</div>
									</div>
									<!--Fact Box Content End-->
								</div>
							</div>
						</div>
						<!--Client Facts Content End-->
					</div>
				</div>
			</section>
			<!--Facts Section Content End-->
			 
					
			<!--Call To Action Content Start-->
			<section class="tj-cal-to-action">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="cta-box">
								<img src="images/cta-icon1.png" alt=""/>
								<div class="cta-text">
									<strong>Best Price Guaranteed</strong>
									<p>A more recently with desktop softy  like aldus page maker.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="cta-box">
								<img src="images/cta-icon2.png" alt=""/>
								<div class="cta-text">
									<strong>24/7 Customer Care</strong>
									<p>A more recently with desktop softy  like aldus page maker.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="cta-box">
								<img src="images/cta-icon3.png" alt=""/>
								<div class="cta-text">
									<strong>Easy Bookings</strong>
									<p>A more recently with desktop softy  like aldus page maker.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--Call To Action Content End-->