@{
    ViewData["Title"] = "Login";
}


			
			<!--Inner Banner Section Start-->
	    	<div class="tj-inner-banner">
	    		<div class="container">
	    			<h2>Login</h2>
	    		</div>
	    	</div>
			<!--Inner Banner Section End-->
			
			<!--Breadcrumb Section Start-->
	    	<div class="tj-breadcrumb">
				<div class="container">	
					<ul class="breadcrumb-list">
						<li><a href="/DashBorad">Home</a></li>
						<li class="active">Login</li>
					</ul>	
				</div>
	    	</div>
			<!--Breadcrumb Section End-->		
			
			<!--Login Section Start-->	
			<section class="tj-login">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<!--Tabs Nav Start-->
							<div class="tj-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#login" data-toggle="tab">Login</a></li>
									<li><a href="#register" data-toggle="tab">Register</a></li>
								</ul>
							</div>
							<!--Tabs Nav End-->
							<!--Tabs Content Start-->
							<div class="tab-content">
								<!--Login Tabs Content Start-->
								<div class="tab-pane active" id="login">
									
									<div class="col-md-6 col-sm-6">
										<form class="login-frm" method="POST" action="/DashBorad">
											<div class="field-holder">
												<span class="far fa-envelope"></span>
												<input type="email" name="login_email" placeholder="Enter your Email Address">
											</div>
											<div class="field-holder">
												<span class="fas fa-lock"></span>
												<input type="password" name="name" placeholder="Password">
											</div>
											
											<button type="submit" class="reg-btn">Login <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></a>
											<a href="#" class="forget-pass">Forget Password?</a>
										</form>
									</div>
								</div>
								<!--Login Tabs Content End-->
								<!--Register Tabs Content Start-->
								<div class="tab-pane" id="register">
									@* <div class="col-md-6 col-sm-6">
										<div class="reg-cta"> *@
											@* <ul class="cta-list">
												<li>
													<span class="icon-mail-envelope icomoon"></span>
													<div class="cta-info">
														<strong>30 Days Money Back Guarantee</strong>
														<p>A more recently with desktop softy like aldus pages maker still versions have evolved.</p>
													</div>
												</li>
												<li>
													<span class="icon icon-Headset"></span>
													<div class="cta-info">
														<strong>24/7 Customer Support</strong>
														<p>A more recently with desktop softy like aldus pages maker still versions have evolved.</p>
													</div>
												</li>
												<li>
													<span class="icon-lock icomoon"></span>
													<div class="cta-info">
														<strong>100% Secure Payment</strong>
														<p>A more recently with desktop softy like aldus pages maker still versions have evolved.</p>
													</div>
												</li>
											</ul> *@
										@* </div>
									</div> *@
									<div class="col-md-6 col-sm-6">
										<!--Register Tabs Form Start-->
										
											<form class="account-frm" method="POST">
										<div class="col-md-6 col-sm-6">
											<div class="account-field">
												<label>First Name</label>
												<span class="far fa-user"></span>
												<input type="text" name="fname" placeholder="Enter First Name">
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="account-field">
												<label>Last Name</label>
												<span class="far fa-user"></span>
												<input type="text" name="lname" placeholder="Enter Last Name">
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="account-field">
												<label>Phone</label>
												<span class="icon-phone icomoon"></span>
												<input type="tel" name="phone_num" placeholder="Enter Phone Number">
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="account-field">
												<label>Email</label>
												<span class="far fa-envelope"></span>
												<input type="email" name="email_id" placeholder="Enter Email id">
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="account-field">
												<label>Old Password</label>
												<span class="fas fa-lock"></span>
												<input type="password" name="old_pass" placeholder="Password">
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="account-field">
												<label>New Password</label>
												<span class="fas fa-lock"></span>
												<input type="password" name="new_pass" placeholder="Password">
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="account-field">
												<label>Confirm Password</label>
												<span class="fas fa-lock"></span>
												<input type="password" name="confirm_pass" placeholder="Password">
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="account-field">
												<label>Profile Image</label>
												<button class="file-btn"><i class="fas fa-download"></i> Upload Photo</button>
												<span class="limit">Maximum file size : 6MB </span>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<button type="submit" class="save-btn">Save <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
										</div>
										</form>
										<!--Register Tabs Form End-->
									</div>
								</div>
								<!--Register Tabs Content End-->
							</div>
							<!--Tabs Content End-->
						</div>
					</div>
				</div>
			</section>
			<!--Login Section End-->	
			
		